[submodule "stk"]
	path = stk
	url = https://github.com/lohisynths/stk.git
	branch = x86
	update = rebase
[submodule "bassline-junkie-interface"]
	path = bassline-junkie-interface
	url = https://github.com/lohisynths/bassline-junkie-interface.git
